{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />    
    <title>Fleming AI</title>

    {% bootstrap_css %} 
    
    {% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'chat/style.css/' %}/?r=124">
  </head>

  <body>
    {% include 'chat/navbar.html' %} 
    
    <!-- disabling messages for now.  It doesn't seem to be necessary
    {% bootstrap_messages %} 
    -->
    
    {% block content %}

    {%endblock %} 

    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
