{% extends 'chat/header.html' %} 

{% block content %}
<div class="bg">
  <div class="container b-5 m-5">
    <div class="display-2 text-left">Amy</div><br />
    <h1 class="text-center">Capture Your Family History</h1><br /><br />
    <h3 class="text-center">You have a story worth sharing</h3><br /><br />
    <div class="row">
      <div class="col-md-3 offset-md-5">
        <a class="btn btn-primary text-center" href="/login">&nbsp;&nbsp;Login&nbsp;&nbsp;</a>
        <a class="btn btn-primary text-center" href="/register">Register</a>
      </div>
    </div>
    <br /><br /><br />
    <div class="row">
      <div class="offset-md-1">
        <h3 class="text-left">Amy Helps You Build Your Story</h3>
        <div class="row">
          <ul>
            <h4><li class="text-left">Collect Family Stories</li></h4>
            <h4><li class="text-left">Create a Legacy</li></h4>
          </ul>
        </div>
      </div>
    </div><br />
    <h5 class="text-center">Preserve your memories - capture your thoughts before it's too late.</h5>
    <div class="d-flex justify-content-between">
      <div class="ms-auto">© Fleming AI 2023</div><div>Powered by OpenAI</h6>
    </div>
  </div>
</div>
{% endblock %}
