{% load static %}

{% load bootstrap4 %} 
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://fleming.ai">Fleming AI</a>
  <a id="enable_speech" type="button" onclick="enableSpeech()">
    <i id="speech_icon" class="fas fa-volume-mute"></i>
  </a>
  &nbsp;&nbsp;
  <div class="nav-link">
    <label id="ice-gathering-status-label" data-title="ICE Gathering Status">&#x25AC;</label>
    <label id="ice-status-label" data-title="ICE Status">&#x25AC;</label>
    <label id="peer-status-label" data-title="Peer Status">&#x25AC;</span></label>
    <label id="signaling-status-label" data-title="Signaling Status">&#x25AC;</label>
    <label><a id="connect-btn" class="nav-link" onclick="winow.connect()" style="display: block;"><i class="fa-solid fa-link"></i></a></label>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">      
      {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" onclick="toggleLog()"><i class="fa-solid fa-address-card"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin &nbsp;|</a>
        </li>
      {% endif %}
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/session">Session</a>
        </li>
        {% if user.profile.show_summary %}
          <li class="nav-item">
            <a id="transcript-link" class="nav-link" href="/transcript">Transcript</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/summary">Summary</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">| &nbsp; Logout</a>
        </li>
        <li class="nav-item hidden"> <!-- Used for getting display_name in Javascript -->
          {% if user.profile %}
          <a id="display_name" class="nav-link" href="#">Welcome, {{user.profile.display_name}}</a>
          {% else %}
          <a id="display_name" class="nav-link" href="#">Welcome, {{user.username}}</a>
          {% endif %}
        </li>
        {% if user.profile %}
        <li class="nav-item profile">
          <a onclick="showModal(event)"><i class="fa-solid fa-user"></i></a>
        </li>
        {% endif %}
      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      {% endif %}
    </ul>
    <div id="amy_modal" class="modal"></div>
  </div>

  <script>
    let speechEnabled = false
    window.volume = 0

    function enableSpeech() {
      box('enable_speech')

      if (!speechEnabled) {
        try {
          const output = new SpeechSynthesisUtterance('speech enabled.')
          output.volume = 0
          window.speechSynthesis.speak(output)  

          document.querySelector('#enable_speech').innerHTML = '<i class="fa fa-volume-up"></i>'
          speechEnabled = true
          window.volume = 1          
        } catch (ex) {
          box(`Error enabling speech: ${ex}`)
        }

      } else {
        box('disable_speech')
        speechEnabled = false
        speechSynthesis.cancel()
        window.volume = 0
        clearIntervals()
        document.querySelector('#enable_speech').innerHTML = '<i class="fas fa-volume-mute"></i>'
      }
    }

    // Timezone Offset for Transcript is passed as part of the URL in the link
    const date = new Date()
    const offset = date.getTimezoneOffset()
    const link = document.querySelector('#transcript-link')
    if (link) {
      link.href = `/transcript/${offset}`
    }

    sessionStorage.setItem('msgbox', '')

    function box(msg) {
      msg = sessionStorage.getItem('msgbox') + '\n' + msg
      sessionStorage.setItem('msgbox', msg)
    }

    function toggleLog() {
      const el = document.getElementById('dragable')
      el.style.display = el.style.display === 'none' ? 'block': 'none'
    }
  </script>
  <script src="{% static 'chat/js/amy_modal.js' %}"></script>
</nav>
