{% load bootstrap4 %} 
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://fleming.ai">Fleming AI</a>
  <a id="enable_speech" type="button" onclick="enableSpeech()">
    <i id="speech_icon" class="fas fa-volume-mute"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">      
      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/session">Session</a>
      </li>
      <li class="nav-item">
        <a id="transcript-link" class="nav-link" href="/transcript">Transcript</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/summary">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item hidden">
        {% if user.profile %}
        <a id="display_name" class="nav-link" href="#">Welcome, {{user.profile.display_name}}</a>
        {% else %}
        <a id="display_name" class="nav-link" href="#">Welcome, {{user.username}}</a>
        {% endif %}
      </li>
      <li class="nav-item profile">
        <a onclick="showBox()"><i class="fa-solid fa-user"></i></a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      {% endif %}
    </ul>
  </div>
  <script>
    const date = new Date()
    const offset = date.getTimezoneOffset()
    let speechEnabled = false
    window.volume = 0

    function enableSpeech() {
      box('enable_speech')

      if (!speechEnabled) {
        try {
          const output = new SpeechSynthesisUtterance('speech enabled.')
          output.volume = window.volume
          window.speechSynthesis.speak(output)  
        } catch (ex) {
          box(`Error enabling speech: ${ex}`)
        }
        document.querySelector('#enable_speech').innerHTML = '<i class="fa fa-volume-up"></i>'
        speechEnabled = true
        window.volume = 1
      } else {
        box('disable_speech')
        speechEnabled = false
        document.querySelector('#enable_speech').innerHTML = '<i class="fas fa-volume-mute"></i>'
        speechSynthesis.cancel()
        window.volume = 0
      }
    }

    document.querySelector('#transcript-link').href = `/transcript/${offset}`
    document.querySelector('#enable_speech').click()
    sessionStorage.setItem('msgbox', '')

    function box(msg) {
      msg = sessionStorage.getItem('msgbox') + '\n' + msg
      sessionStorage.setItem('msgbox', msg)
    }
  </script>
</nav>
