{% extends "chat/header.html" %} 

{% load static %} 

{% load bootstrap4 %} 

{% static 'static_jquery/js/jquery.js' %}

{%block content %} 

{% load crispy_forms_tags %}

  <form id="main_form" action="{% url 'chat:session' %}" method="post">
    <div class="row">
      <div class="main col-sm">
        {% csrf_token %}
        <div id="conversation">
          <p id="messages"></p>
        </div>        
      </div>
      <div id="d-id" class="col-sm">
        <video id="talk-video" width="364" height="260" autoplay="" playsinline=""></video>
      </div>
    </div>
    <input
      id="command"
      name="command"
      class="hidden"
      type="text"
      aria-label="command"
      value="{{command}}"
    />
    <input id="d-id-key" name="key" class="hidden" type="text" aria-label="key" value="{{key}}" />
    <input id="d-id-image" name="image" class="hidden" type="text" aria-label="image" value="{{image}}" />
    <input id="continue_text" name="continue_text" class="hidden" type="continue_text" aria-label="continue_text" value="{{speak}}">
    <input id="user" name="user" class="hidden" type="text" aria-label="user" />
    <div class="footer">
      <div id="input">
        <fieldset>
          <legend></legend>
          <hr>
          <input
            class="form-control input"
            id="user_text"
            type="text"
            name="user_text"
            aria-label="user_text"
            x-ref="inputx"
          />
          <input
            id="submit"
            class="hidden"
            type="submit"
            size="sm"
            value="Send"
            onclick="event.preventDefault(); myHandler();"
          />
        </fieldset>
        <label id="status" class="status"
          >Click the Start button to begin a new conversation.</label
        >
        <button
          id="start"
          class="mic btn btn-primary"
          type="submit"
          src="{% static 'chat/images/mic.png' %}"
          onclick="event.preventDefault();"
        >
          <i class="fa fa-microphone"></i>&nbsp;&nbsp;Start
        </button>
      </div>
      <div id="dragable" class="dragable container" style="top:-500px; left:100px; display: none;">
        <div id="dragable-header" class="dragable-header row">Log</div>
        <div class="row"><textarea id="stats-box" class="stats-box"></textarea></div>
      </div>
    </div>
  </form>

  <script src="{% static 'chat/js/dragable.js' %}/?r=127"></script>
  <script src="{% static 'chat/js/streaming-client-api.js' %}/?r=127"></script>
  <script src="{% static 'chat/js/speechApi.js/' %}/?r=127"></script>
  <script src="{% static 'chat/js/session.js/' %}/?r=127"></script>
  {% endblock %}
