{% extends "chat/header.html" %} 

{% load static %} 

{% load bootstrap4 %} 

{%block content %} 

{% load crispy_forms_tags %}

  <form id="main-form" action="{% url 'chat:session' %}" method="post">
    <div class="main">
      {% csrf_token %}
      <div id="conversation">
        <p id="messages"></p>
      </div>
    </div>
    <input
      id="command"
      name="command"
      class="hidden"
      type="text"
      aria-label="command"
      value="{{command}}"
    />
    <input id="user" name="user" class="hidden" type="text" aria-label="user" />
    <div class="footer">
      <div id="input">
        <fieldset>
          <legend></legend>
          <hr>
          <input
            class="form-control input"
            id="utterance"
            type="text"
            name="utterance"
            aria-label="utterance"
            x-ref="inputx"
          />
          <input
            id="submit"
            class="hidden"
            type="submit"
            size="sm"
            value="Send"
            onclick="event.preventDefault(); myHandler();"
          />
        </fieldset>
        <label id="status" class="status"
          >Click the Start button to begin a new conversation.</label
        >
        <button
          id="start"
          class="mic btn btn-primary"
          type="submit"
          src="{% static 'chat/images/mic.png' %}"
          onclick="event.preventDefault();"
        >
          <i class="fa fa-microphone"></i>&nbsp;&nbsp;Start
        </button>
      </div>
    </div>
  </form>

  <script src="{% static 'chat/js/session.js' %}"></script>
  <script src="{% static 'chat/js/speechApi.js' %}"></script>

  {% endblock %}
