{% extends "chat/header.html" %} 

{% load static %} 

{% load bootstrap4 %} 

{%block content %} 
<div class="main">
  <h1>Summary for {{user.username}} </h1>
  {% for category, summarization, text in summary %}
  <br/>
    <div class="section collapsed-prompt collapsed-response">
      <h6>{{ category }}</h6>
      <div class="user-text">{{ summarization }}</div>
      <div hidden="until-found" class="response">{{ text }}</div>
  </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'chat/js/until-found.js' %}"></script>
{% endblock %}
