{% extends "chat/header.html" %} 

{% load static %} 

{% load bootstrap4 %} 

{%block content %} 
<div class="main">
  <input id="username" type="text" class="hidden" value="{{user.username}}" />
  <h1>Summary for {{user.username}} </h1>
  <div id="summary"></div>
  <img id="spinner" class="center-block" src="{% static 'chat/images/spinner.gif' %}" alt="spinner">
</div>
<script src="{% static 'chat/js/wait_for_socket.js' %}"></script>
<script src="{% static 'chat/js/until_found.js' %}"></script>
{% endblock %}
